.DS_Store
.env
.env.prod

/.vscode

/public/images/item_covers
/public/images/posts
/public/images/avatars
/public/images/deleted
/public/images/events
/public/images/covers
/public/images/sponsors

/vendor
/node_modules

npm-debug.log
yarn-error.log